*{
    padding: 0;
    margin: 0;
}
body{
    
    background-size: cover;
    background-color: #F1FFA8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular'   ;
}

nav{
    background-color: #ECA8FF;
    list-style: none;
    height: 48px;
}
nav ul{
    display: flex;
    justify-content: left;
}


nav ul li{
    margin: 10px 15px;
}

nav li a{
    padding: 15px 18px;
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: white;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    border: none;
}

.div-banner {
  width: 100%;          /* el contenedor ocupa todo el ancho */
  overflow: hidden;
  align-content: center;
  text-align: center;
  background-color: black;
}

.banner-img {
  width: 50%;          /* la imagen se adapta al ancho */
  height: auto;         /* mantiene la proporción original */
  object-fit: cover;
  display: block;
  display: inline-block;
    

}

footer{
    text-align: center;
    background-color: #ECA8FF;
}


#textoprincipal{
    width: 100%;
    height: auto;
    margin: 40px 50px;
    text-align: center;
    background-image: url('../img/banner4.jpg');
    background-size: cover;
    border-color: mediumaquamarine;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    backdrop-filter: blur(10px);

}



.contenedor{
    text-align: center;
    justify-content: center;
}
#informacion{
    display: inline-block;
    justify-content: center;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;
    border-color: #36E3B6;
}

main{
    display: flex;
    height: 100vh;
}